
.rangeslider{
  background: #e6e7ed;
  position: relative;
}

.rangeslider--horizontal{
  height:4px;
  width:100%;
  border-radius:5px
}

.rangeslider__fill{
  background: #e24f39;
  position: absolute;
  border-radius:5px
}
.rangeslider--horizontal .rangeslider__fill{
  top: 0;
  height: 100%;
}

.rangeslider__handle{
  cursor: pointer;
  display: inline-block;
  width:23px;height:23px;background:rgba(226,78,57,.4);border-radius:50%;position:absolute;;
  border-radius: 50%;margin-top:1px;
}
.rangeslider__handle:after{content:"";width:9px;height:9px;background:#e24f39;opacity:1;border-radius:50%;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}

.rangeslider--horizontal .rangeslider__handle{
  top: -10px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
